html {
  min-height: 100%;
}

a {
  padding: 1rem;
  text-decoration: none;
}

body {
  font-family: 'Lobster', serif;
  margin-left: 0;
}

img:hover {
  transform: scale(1.1);
}

.container {
  margin: 0 auto;
  max-width: 900px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.service {
  margin: 0 auto;
  padding: 2rem;
  width: 10rem;
}

.footer {
  background: rgb(44, 122, 44);
  bottom: 0px;
  height: 2rem;
  position: absolute;
  width: 100%;
}

.logo {
  background-color: black;
  height: 6rem;
  margin: 0 auto 0 auto;
  padding: 2rem;
  width: 6rem;
}

.logo:hover {
  transform: scale(1.1);
}

.logo-aws {
  -webkit-mask-image: url(assets/aws.svg);
  mask-image: url(assets/aws.svg);
}

.logo-aws:hover {
  background-color: #FF9900;
}

.logo-circleci {
  -webkit-mask-image: url(assets/circleci.svg);
  mask-image: url(assets/circleci.svg);
}

.logo-circleci:hover {
  background: #FEAC5E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.logo-github {
  -webkit-mask-image: url(assets/github.svg);
  mask-image: url(assets/github.svg);
}

.logo-github:hover {
  background-color: white
}

.logo-trello {
  -webkit-mask-image: url(assets/trello.svg);
  mask-image: url(assets/trello.svg);
}

.logo-trello:hover {
  background-color: #026aa7;
}

.logo-udemy {
  -webkit-mask-image: url(assets/udemy.svg);
  mask-image: url(assets/udemy.svg);
}

.logo-udemy:hover {
  background-color: #EC5252;
}

.unlaunched {
  display: none;
}

/* BACKGROUNDS */

.day {
  background: #83a4d4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #83a4d4, #b6fbff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #83a4d4, #b6fbff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dawn {
  background: #FFA17F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #00223E, #FFA17F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #00223E, #FFA17F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dusk {
  background: #F0C27B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #4B1248, #F0C27B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #4B1248, #F0C27B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.night {
  background: #283048;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#stars {
  position: absolute;
  width: 99%;
  height: 99%;
  overflow: hidden;
  z-index: -1;
}

#sunrise {
  bottom: 2rem;
  margin: 0 5rem;
  position: absolute;
}

#sunset {
  bottom: 2rem;
  margin: 0 5rem;
  right: 5rem;
  position: absolute;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .flex {
    flex-direction: column;
  }

}